{%extends "rent/layout.html" %}


{%block body%}

<header>
    {% if user.is_authenticated %}
        <li><a href="{%url 'accounts:logout'%}">Logout</a></li>
    {% else %}
        <li><a href="{%url 'accounts:login'%}">login</a></li>
    {% endif %}
</header>
    




<div id = "landing_page">
    <h1 id = "landing_page_header">find your space.</h1>

    <input   type="text">
    
    <a href="{%url 'rent:all_listings'%}">All Spaces</a>

    {% if user.is_authenticated %}
    <a href="{%url 'rent:create_listing'%}">Add listing </a>
    {%else%}
    <p>Log in to add rental</p>
    {%endif%}
</div>

{%endblock%}